.auth-nav {
    @include flex();
    gap: 30px;
    margin-left: auto;
}

.auth-nav__link {
    @include flex();
    @include flexCrossAxis();
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @include transition(color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
    @include transition(fill);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }  
}