.team {
    background-color: var(--background-grey-color);
}

.team__title {
    @extend %section-title;
}

.team__list {
    display: flex;
    gap: var(--list-gap);
}

.team__item {
    flex-basis: calc((100% - (3 * var(--list-gap))) / 4);
    background-color: var(--white-color);
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team__card {
    padding: 30px 32px;
    text-align: center;
}

.team__card-title {
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__card-text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
}

.team-social {
    display: flex;
    gap: var(--social-gap);
    justify-content: center;
}

.team-social__item {
    flex-basis: calc((100% - (3 * var(--social-gap))) / 4);
}

.team-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--client-icon-color);
    background-color: var(--white-color);
    border-radius: 50%;
    @include transition(background-color);

    svg {
        @include transition(fill);
    }

    &:hover,
    &:focus {
        background-color: var(--background-active-button);
          svg {
              fill: var(--white-color);
          }
    }
}

.team-social__icon {
    fill: currentColor;
}